In [ ]:
import pandas as pd
x_train = pd.read_csv('final_APA_X_train.csv')
x_test = pd.read_csv('final_APA_X_val.csv')
y_train = pd.read_csv('final_APA_y_train.csv')
y_test = pd.read_csv('final_APA_y_val.csv')

In [ ]:
from pandas.core.window.rolling import numba_notes
#Regression Models
from sklearn.ensemble import GradientBoostingRegressor as XGBRegressor
#Linear Regression ( https://www.w3schools.com/python/python_ml_multiple_regression.asp )
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
#Ridge Regression ( https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html )
from sklearn import linear_model
ridge = linear_model.Ridge()
#Lasso Regression ( https://towardsdatascience.com/hyperparameter-tuning-in-lasso-and-ridge-regressions-70a4b158ae6d )
from sklearn.linear_model import Lasso, LassoCV, LinearRegression
lasso = linear_model.Lasso()
#KNeighborsRegressor
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor()
#Random Forrest ( https://towardsdatascience.com/random-forest-in-python-24d0893d51c0 )
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
#Decision Trees ( https://medium.com/pursuitnotes/decision-tree-regression-in-6-steps-with-python-1a1c5aa2ee16 )
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
#SVM - SVR
from sklearn import svm
SVR_m = svm.SVR()
#Gradient Boosting Regressor ( https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingRegressor.html#sklearn.ensemble.GradientBoostingRegressor )
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor()
# create an xgboost regression model: higher performance than gradient boosting
import xgboost as xg
xgb = xg.XGBRegressor()

In [ ]:
#Best models
from sklearn.svm import SVR

#Linear regression - no tuning
model_1 = LinearRegression()
#Ridge Regression
model_2 = linear_model.Ridge(alpha=0.0)
#Lasso Regression
model_3 = linear_model.Lasso(alpha=0.0)
#K Nearest Neighbours Regression
model_4 = KNeighborsRegressor(n_neighbors = 10, weights= 'distance')
#Random Forrest Regressor
model_5 = RandomForestRegressor(max_depth=5, n_estimators=550)
#DT Regressors
model_6 = DecisionTreeRegressor(max_depth=3, max_features='auto', min_weight_fraction_leaf=0.2)
#SVM Regressor
model_7 = SVR(C=10, gamma=0.001)
#Gradient Boosting Regressor 
model_8 = GradientBoostingRegressor(learning_rate=0.02, n_estimators=80, random_state=0)
#XGBoost
model_9 = xg.XGBRegressor(n_estimators=60, max_depth = 3, learning_rate = 0.2)

models = [model_1, model_2, model_3, model_4, model_5, model_6, model_7, model_8, model_9]

In [ ]:
for i in models:
  print(i)

LinearRegression()
Ridge(alpha=0.0)
Lasso(alpha=0.0)
KNeighborsRegressor(n_neighbors=10, weights='distance')
RandomForestRegressor(max_depth=5, n_estimators=550)
DecisionTreeRegressor(max_depth=3, max_features='auto',
                      min_weight_fraction_leaf=0.2)
SVR(C=10, gamma=0.001)
GradientBoostingRegressor(learning_rate=0.02, n_estimators=80, random_state=0)
XGBRegressor(learning_rate=0.2, n_estimators=60)

In [ ]:
selected_features = ['overall', 'wage_eur', 'release_clause_eur', 'attacking_short_passing', 'international_reputation']

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from math import sqrt

In [ ]:
x_train

,overall,potential,wage_eur,age,height_cm,weight_kg,release_clause_eur,pace,shooting,passing,...,club_team_id,league_level,club_position,club_contract_valid_until,preferred_foot,weak_foot,skill_moves,international_reputation,att_wr,def_wr
0,0.137931,0.290323,0.012876,0.304348,0.617021,0.298246,0.009039,0.652174,0.565789,0.500000,...,1938.0,2.0,3,2024.0,1,4.0,3.0,1.0,2,2
1,0.379310,0.451613,0.118741,0.391304,0.510638,0.315789,0.036625,0.695652,0.381579,0.533333,...,144.0,2.0,1,2024.0,1,2.0,2.0,1.0,2,2
2,0.275862,0.419355,0.030043,0.434783,0.638298,0.473684,0.012789,0.550725,0.671053,0.533333,...,897.0,1.0,2,2022.0,1,3.0,2.0,1.0,0,2
3,0.137931,0.193548,0.015737,0.434783,0.489362,0.403509,0.006361,0.768116,0.618421,0.383333,...,171.0,2.0,3,2026.0,1,3.0,3.0,1.0,2,2
4,0.000000,0.000000,0.004292,0.565217,0.574468,0.368421,0.001591,0.637681,0.565789,0.400000,...,1456.0,1.0,3,2021.0,1,4.0,3.0,1.0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8856,0.448276,0.419355,0.133047,0.652174,0.574468,0.456140,0.040643,0.536232,0.802632,0.716667,...,166.0,1.0,0,2024.0,1,4.0,3.0,3.0,2,1
8857,0.103448,0.096774,0.001431,0.608696,0.255319,0.350877,0.003147,0.608696,0.565789,0.516667,...,111722.0,1.0,3,2025.0,0,4.0,3.0,1.0,0,2
8858,0.482759,0.451613,0.070100,0.652174,0.617021,0.473684,0.055641,0.318841,0.368421,0.366667,...,463.0,1.0,1,2022.0,1,3.0,2.0,1.0,2,0
8859,0.000000,0.000000,0.001431,0.695652,0.361702,0.315789,0.001004,0.550725,0.381579,0.500000,...,113197.0,1.0,3,2022.0,0,2.0,2.0,1.0,2,0
8860,0.448276,0.580645,0.058655,0.304348,0.787234,0.631579,0.072514,0.565217,0.276316,0.350000,...,100409.0,1.0,1,2024.0,0,3.0,2.0,2.0,2,2

In [ ]:
x_test

,overall,potential,wage_eur,age,height_cm,weight_kg,release_clause_eur,pace,shooting,passing,...,club_team_id,league_level,club_position,club_contract_valid_until,preferred_foot,weak_foot,skill_moves,international_reputation,att_wr,def_wr
0,0.034483,0.032258,0.004292,0.782609,0.297872,0.385965,0.000637,0.637681,0.513158,0.466667,...,113149.0,1.0,3,2021.0,0,3.0,3.0,1.0,0,2
1,0.103448,0.096774,0.001431,0.782609,0.404255,0.350877,0.001473,0.695652,0.644737,0.466667,...,113302.0,1.0,0,2022.0,1,4.0,3.0,1.0,0,2
2,0.034483,0.580645,0.004292,0.130435,0.510638,0.403509,0.009843,0.565217,0.526316,0.466667,...,110396.0,1.0,2,2023.0,0,3.0,2.0,1.0,2,2
3,0.068966,0.419355,0.004292,0.260870,0.382979,0.175439,0.008236,0.652174,0.342105,0.400000,...,110831.0,2.0,3,2023.0,0,3.0,2.0,1.0,2,2
4,0.310345,0.290323,0.067239,0.652174,0.680851,0.526316,0.009307,0.376812,0.460526,0.600000,...,10029.0,1.0,3,2022.0,1,3.0,2.0,2.0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,0.068966,0.322581,0.004292,0.260870,0.404255,0.263158,0.007968,0.608696,0.223684,0.300000,...,112996.0,1.0,3,2021.0,0,3.0,2.0,1.0,0,2
981,0.034483,0.032258,0.000000,0.652174,0.468085,0.350877,0.003147,0.666667,0.631579,0.533333,...,110930.0,1.0,3,2022.0,1,3.0,2.0,1.0,0,2
982,0.482759,0.451613,0.124464,0.608696,0.446809,0.403509,0.051088,0.811594,0.605263,0.666667,...,1970.0,1.0,1,2022.0,1,3.0,3.0,1.0,0,0
983,0.241379,0.225806,0.021459,0.652174,0.553191,0.315789,0.005290,0.507246,0.671053,0.483333,...,101146.0,1.0,3,2022.0,1,4.0,3.0,1.0,2,2
984,0.137931,0.419355,0.010014,0.217391,0.404255,0.350877,0.011182,0.797101,0.289474,0.433333,...,1750.0,1.0,1,2023.0,1,4.0,3.0,1.0,0,2

In [ ]:
y_train

      value_eur
0      0.008767
1      0.035585
2      0.015472
3      0.007220
4      0.002450
...         ...
8856   0.045900
8857   0.004513
8858   0.048479
8859   0.001547
8860   0.074265

[8861 rows x 1 columns]

In [ ]:
y_test

     value_eur
0     0.000774
1     0.002063
2     0.008767
3     0.008767
4     0.010315
..         ...
980   0.008767
981   0.002450
982   0.061372
983   0.007736
984   0.012893

[985 rows x 1 columns]

In [ ]:
x_train.columns

Index(['overall', 'potential', 'wage_eur', 'age', 'height_cm', 'weight_kg',
       'release_clause_eur', 'pace', 'shooting', 'passing', 'dribbling',
       'defending', 'physic', 'attacking_crossing', 'attacking_finishing',
       'attacking_heading_accuracy', 'attacking_short_passing',
       'attacking_volleys', 'skill_dribbling', 'skill_curve',
       'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control',
       'movement_acceleration', 'movement_sprint_speed', 'movement_agility',
       'movement_reactions', 'movement_balance', 'power_shot_power',
       'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots',
       'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking_awareness',
       'defending_standing_tackle', 'defending_sliding_tackle', 'Avg_Def',
       'Avg_Att', 'club_team_id', 'league_level', 'club_position',
       'club_contract_valid_until', 'preferred_foot', 'weak_foot',
       'skill_moves', 'international_reputation', 'att_wr', 'def_wr'],
      dtype='object')

In [ ]:
x_train_best_features = x_train[['overall', 'wage_eur', 'release_clause_eur', 'attacking_short_passing', 'international_reputation']].copy()
x_test_best_features = x_test[['overall', 'wage_eur', 'release_clause_eur', 'attacking_short_passing', 'international_reputation']].copy()

In [ ]:
x_train_best_features

,overall,wage_eur,release_clause_eur,attacking_short_passing,international_reputation
0,0.137931,0.012876,0.009039,0.583333,1.0
1,0.379310,0.118741,0.036625,0.616667,1.0
2,0.275862,0.030043,0.012789,0.600000,1.0
3,0.137931,0.015737,0.006361,0.500000,1.0
4,0.000000,0.004292,0.001591,0.450000,1.0
...,...,...,...,...,...
8856,0.448276,0.133047,0.040643,0.766667,3.0
8857,0.103448,0.001431,0.003147,0.516667,1.0
8858,0.482759,0.070100,0.055641,0.600000,1.0
8859,0.000000,0.001431,0.001004,0.533333,1.0
8860,0.448276,0.058655,0.072514,0.616667,2.0

In [ ]:
x_test_best_features

,overall,wage_eur,release_clause_eur,attacking_short_passing,international_reputation
0,0.034483,0.004292,0.000637,0.483333,1.0
1,0.103448,0.001431,0.001473,0.500000,1.0
2,0.034483,0.004292,0.009843,0.600000,1.0
3,0.068966,0.004292,0.008236,0.450000,1.0
4,0.310345,0.067239,0.009307,0.650000,2.0
...,...,...,...,...,...
980,0.068966,0.004292,0.007968,0.483333,1.0
981,0.034483,0.000000,0.003147,0.483333,1.0
982,0.482759,0.124464,0.051088,0.683333,1.0
983,0.241379,0.021459,0.005290,0.616667,1.0
984,0.137931,0.010014,0.011182,0.500000,1.0

In [ ]:
x_train_best_features.isna().sum()

overall                     0
wage_eur                    0
release_clause_eur          0
attacking_short_passing     0
international_reputation    0
dtype: int64

In [ ]:
x_test_best_features.isna().sum()

overall                     0
wage_eur                    0
release_clause_eur          0
attacking_short_passing     0
international_reputation    0
dtype: int64

In [ ]:
#Run each model 
model_eval = []
for model in models:
  model.fit(x_train_best_features, y_train)
  predictions = model.predict(x_test_best_features)
  type(predictions)
  #FIX CALCS
  # Calculate the absolute errors
  errors = abs(predictions - y_test.values)
  # Calculate model evaluation metrics
  mae = mean_absolute_error(y_test, predictions)
  mse = mean_squared_error(y_test, predictions)
  rmse = sqrt(mse)
  r2 = r2_score(y_test, predictions)
  print(f'MODEL: {model}')
  print('Mean Absolute Error: ', mae, ' degrees.')
  print('Mean Squared Error:', mse, ' degrees')
  print('RMSE:', rmse, ' degrees')
  print('R2:', r2)
  model_eval.append({'Model': model, 'Mean Absolute Error': mae, 'Mean Squared Error': mse, 'RMSE': rmse,'R-squared': r2})

df = pd.DataFrame(model_eval)

MODEL: LinearRegression()
Mean Absolute Error:  0.002304463064302998  degrees.
Mean Squared Error: 2.8139382785811033e-05  degrees
RMSE: 0.005304656707630667  degrees
R2: 0.9890930730504847
MODEL: Ridge(alpha=0.0)
Mean Absolute Error:  0.002304463064302999  degrees.
Mean Squared Error: 2.8139382785810962e-05  degrees
RMSE: 0.005304656707630661  degrees
R2: 0.9890930730504848
MODEL: Lasso(alpha=0.0)
Mean Absolute Error:  0.002304463064302996  degrees.
Mean Squared Error: 2.81393827858109e-05  degrees
RMSE: 0.005304656707630655  degrees
R2: 0.9890930730504848

<ipython-input-54-d58a2ca1a758>:4: UserWarning: With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator
  model.fit(x_train_best_features, y_train)
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:647: UserWarning: Coordinate descent with no regularization may lead to unexpected results and is discouraged.
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.516e-02, tolerance: 2.209e-03 Linear regression models with null weight for the l1 regularization term are more efficiently fitted using one of the solvers implemented in sklearn.linear_model.Ridge/RidgeCV instead.
  model = cd_fast.enet_coordinate_descent(

MODEL: KNeighborsRegressor(n_neighbors=10, weights='distance')
Mean Absolute Error:  0.003471127789079649  degrees.
Mean Squared Error: 7.32283346196089e-05  degrees
RMSE: 0.008557355585670664  degrees
R2: 0.971616431589485

<ipython-input-54-d58a2ca1a758>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train_best_features, y_train)

MODEL: RandomForestRegressor(max_depth=5, n_estimators=550)
Mean Absolute Error:  0.0023490447551990754  degrees.
Mean Squared Error: 2.7272203680023455e-05  degrees
RMSE: 0.005222279548245523  degrees
R2: 0.9894291948208507
MODEL: DecisionTreeRegressor(max_depth=3, max_features='auto',
                      min_weight_fraction_leaf=0.2)
Mean Absolute Error:  0.014200354631825783  degrees.
Mean Squared Error: 0.0017060515419527616  degrees
RMSE: 0.0413043767893036  degrees
R2: 0.33872822720299856
MODEL: SVR(C=10, gamma=0.001)
Mean Absolute Error:  0.04822923111957388  degrees.
Mean Squared Error: 0.0026196550693161533  degrees
RMSE: 0.05118256606810715  degrees
R2: -0.015387817545379656

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MODEL: GradientBoostingRegressor(learning_rate=0.02, n_estimators=80, random_state=0)
Mean Absolute Error:  0.005579766256421873  degrees.
Mean Squared Error: 0.0001691716928533661  degrees
RMSE: 0.013006601894936513  degrees
R2: 0.9344284375417113
[20:29:03] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
MODEL: XGBRegressor(learning_rate=0.2, n_estimators=60)
Mean Absolute Error:  0.002051108825376626  degrees.
Mean Squared Error: 3.208366857083738e-05  degrees
RMSE: 0.005664244748493605  degrees
R2: 0.9875642535574365

In [ ]:
df

,Model,Mean Absolute Error,Mean Squared Error,RMSE,R-squared
0,LinearRegression(),0.002304,0.000028,0.005305,0.989093
1,Ridge(alpha=0.0),0.002304,0.000028,0.005305,0.989093
2,Lasso(alpha=0.0),0.002304,0.000028,0.005305,0.989093
3,"KNeighborsRegressor(n_neighbors=10, weights='d...",0.003471,0.000073,0.008557,0.971616
4,"(DecisionTreeRegressor(max_depth=5, max_featur...",0.002349,0.000027,0.005222,0.989429
5,"DecisionTreeRegressor(max_depth=3, max_feature...",0.014200,0.001706,0.041304,0.338728
6,"SVR(C=10, gamma=0.001)",0.048229,0.002620,0.051183,-0.015388
7,([DecisionTreeRegressor(criterion='friedman_ms...,0.005580,0.000169,0.013007,0.934428
8,"XGBRegressor(learning_rate=0.2, n_estimators=60)",0.002051,0.000032,0.005664,0.987564

In [ ]:
from google.colab import files
df.to_csv('top_5_vars_results.csv', index=None)
files.download("top_5_vars_results.csv")